# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
.idea/
utils/__pycache__/
CVAE/__pycache__/
reproducible_experiments/__pycache__/
*/__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea


# meps data
get_meps_data/*.csv


# real data
datasets/real_data/blogData_train.csv
datasets/real_data/meps*.csv
datasets/__pycache__/

# entire results
/results/
/results/*
results/real_data/entire_test_result
save_models/*
models_save/*
VQR/results/*

figures/
figures/*
/figures
